:root {
	box-sizing: border-box;

	--ff: "Barlow Condensed", sans-serif;
	--ff-H: "Bellefair", serif;
	--ff-P: "Barlow", sans-serif;

	--fs: 16px;
	--fs-tabs: 14px;
	--fs-p: 16px;
	--fs-H: 56px;
	--fs-avg: 14px;
	--fs-dist: 28px;
	--fs-cta: 20px;

	--fw: 400;
	--fw-number: 700;

	--letter-spacing: 2.7px;
	--letter-spacing-tabs: 2.36px;
	--letter-spacing-avg: 2.36px;
	--letter-spacing-cta: 1.25px;

	--color: #d0d6f9;
	--color-title: #fff;
	--color-cta: #0b0d17;

	/* ! nav list */
	--nav-background: rgba(255, 255, 255, 0.04);
	--nav-backdrop-filter: blur(81.5485px);

	--subHeading-number-color: #fff;
	--subHeading-number-opacity: 0.25;
	--subHeading-number-mix-blend-mode: normal;

	--border-line: #383b4b;
}
body {
	font-family: var(--ff-P);
	font-size: var(--fs);
	font-weight: var(--fw);
	color: var(--color);
	scroll-behavior: smooth;
}
.container {
	max-width: 1440px;
	margin: 0 auto;
	min-height: 100vh;
	overflow: hidden;
}
.container__home {
	background-image: url(../assets/background-home-mobile.jpg);
	background-position: 0% 65%;
	background-size: cover;
	background-repeat: no-repeat;
}
.container__destination {
	background-image: url(../assets/background-destination-mobile.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.container__crew {
	background-image: url(../assets/background-crew-mobile.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.container__technology {
	background-image: url(../assets/background-technology-mobile.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
button {
	background-color: transparent;
	border: none;
	color: #fff;
	text-transform: uppercase;
}
img {
	max-width: 100%;
	height: auto;
}
ul {
	list-style: none;
}
/* !============================================================ */
/* !============================================================ */
/* ============================================= */
/* ============================================= */
/* !============================================================ */
/* !============================================================ */

/* !-----=======NAV-BAR=======------*/
.nav-bar {
	height: 6em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0em 1em;
}
.hamburger {
	z-index: 10;
	cursor: pointer;
	transition: all 0.3s;
}
.line,
.overlay {
	display: none;
}
.nav-list {
	width: 0;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: var(--nav-background);
	backdrop-filter: var(--nav-backdrop-filter);
	z-index: 2;
}
.nav-item + .nav-item {
	margin-top: 0.5em;
}
.nav-item:nth-child(1) {
	margin-top: 7em;
}
.nav-link {
	font-family: var(--ff);
	font-size: var(--fs);
	line-height: var(--line-height);
	color: var(--color);
	text-transform: uppercase;
	display: block;
	padding: 0.5em 1.5em;
}
.nav-link_number {
	margin-right: 0.5em;
	font-weight: var(--fw-number);
	color: var(--color-title);
}
.nav-link_text {
	font-weight: var(--fw);
}
/* !============================================================ */
/* !============================================================ */
/* ============================================= */
/* ============================================= */
/* !============================================================ */
/* !============================================================ */

/* !-----=======SECTION=======------*/
.section {
	text-align: center;
	padding: 0.5em 1em 1em;
}
.section__destination {
	margin-top: 0.5em;
}
.section__tech{
	padding: 0em;
	margin-bottom: 2em;
}
.section-contents__home {
	padding: 0 1em;
}
/* ============================================= */
/** SECTION-HEADINGS */
.subheading{
 font-family: var(--ff);
 font-weight: var(--fw);
 color: var(--color);
 font-size: 16px;
 letter-spacing: 2px;
 line-height: var(--line-height);
 text-transform: uppercase;
}
.subheading__number {
	color: var(--subHeading-number-color);
	opacity: var(--subHeading-number-opacity);
	font-weight: var(--fw-number);
	mix-blend-mode: var(--subHeading-number-mix-blend-mode);
	margin-right: 0.6em;
}
/* specific to homepage */
.subheading__home {
	margin: 1em 0 0;
}
.subheading__duration {
	font-family: var(--ff);
	text-transform: uppercase;
	font-weight: normal;
	font-size: 14px;
	letter-spacing: 2px;
	margin-bottom: 0.7em;
}
.subheading__rank{
	font-family: var(--ff-H);
	margin-bottom: .5em;
}
.heading {
	font-family: var(--ff-H);
	font-weight: var(--fw);
	text-transform: uppercase;
	color: var(--color-title);
}
/* specific to homepage */
.heading__home {
	margin: 0.15em 0;
	font-size: clamp(5.5rem, 20vw, 7rem);
}
.heading__destination{
	font-size: clamp(2rem, 15vw, 5rem);
}
.heading__duration {
	text-transform: uppercase;
	font-family: var(--ff-H);
	font-weight: normal;
	font-size: 1.8rem;
	margin-top: 0.2em;
	color: #fff;
}
.heading__crew {
	font-size: 1.65rem;
	margin-bottom: .5em;
}
.heading__tech {
	margin-bottom: .7em;
}



/* !============================================================ */
/* !============================================================ */
/* ============================================= */
/* ============================================= */
/* !============================================================ */
/* !============================================================ */

/* !-----=======IMAGES=======------*/

.section-img-container {
	margin: 2.5em 0;
	position: relative;
}
.section-img__destination{
	width: 12em;
	height: 12em;
	width: 200px;
	height: 200px;
	margin: 3em auto 0;
	margin: 2em auto 0;
}	
.section-img__crew{
	margin: 2.5em 0 0;
	height: 20em;
}
.section-img__tech {
	height: 12em;
}
.section-img{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0em auto;
	background-position: bottom center;
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0;
}
.planet{
	transform-origin: left center;
}



.section-img__crew__0 {
	background-image: url(../assets/mobile-douglas.svg);
	top: 9px;
}
.section-img__crew__1 {
	background-image: url(../assets/mobile-mark.svg);
}
.section-img__crew__2 {
	background-image: url(../assets/mobile-victor-glover.svg);
}
.section-img__crew__3 {
	background-image: url(../assets/mobile-ansari.svg);
}
/* tech */
.section-img__tech__0 {
	background-image: url(../assets/mobile-launch-vehicle.svg);
}
.section-img__tech__1 {
	background-image: url(../assets/image-spaceport-landscape.jpg);
}
.section-img__tech__2 {
	background-image: url(../assets/mobile-space-capsule.svg);
}
/* !============================================================ */
/* !============================================================ */
/* ============================================= */
/* ============================================= */
/* !============================================================ */
/* !============================================================ */

/* !-----=======BUTTON=======------*/
/* GENERAL */
.contents-btn-control {
	margin: 2em 0 0.8em;
}
.btn__tech{
	margin: 1.6em 0 2em;
}
.btn {
	font-family: var(--ff);
	font-size: var(--fs-tabs);
	color: var(--color);
	cursor: pointer;
	position: relative;
}

/* destination */
.btnDestination {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
}
.btn__planet {
	margin: 1em 0;
	letter-spacing: 3px;
	font-size: 13px;
	position: relative;
}
.btn__planet + .btn__planet {
	margin-left: 1.5em;
}
/* CREW */
.btn__crew {
	margin: 1.5em 0 1.8em;
}
.btn__dot {
	background-color: rgba(255, 255, 255, 0.2);
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 0 0.6em;
}
.btn__dot:hover {
	background-color: rgba(255, 255, 255, 0.5);
}
.btn__circle {
	width: 52px;
	height: 52px;
	border-radius: 50%;
	text-align: center;
	border: 1px solid rgba(255, 255, 255, 0.2);
	color: #fff;
	margin: 0em 0.5em;
	font-family: var(--ff-H);
	font-size: 1rem;
}
.btn__circle:hover {
	border: 1px solid rgba(255, 255, 255, 0.5);
}
/* .btn__tab::after{
	display: block;
	content: '';
	border-bottom: 3px solid #fff;
	transform: scale(0);
	transition: transform 250ms ease-in-out;
	
}
.btn__tab:hover::after{
	padding-bottom: 0.5em;
	transform: scale(1);
	transform-origin: 0% 50%;
}
.btn__tab:active::after{
	transform: scale(1);
	transform-origin: 0% 50%;
} */
/* !============================================================ */
/* !============================================================ */
/* ============================================= */
/* ============================================= */
/* !============================================================ */
/* !============================================================ */
/*state classes */
.is-hidden {
	width: 0;
	visibility: hidden;
}
.is-open {
	width: 60%;
}
.is-close {
	width: 100%;
	visibility: visible;
}
.btn__active {
	background-color: #fff;
	color: #0b0d17;
}
.dest__active {
	padding-bottom: 0.5em;
	border-bottom: 3px solid #fff;
	color: #fff;
}
/* .content__active and  .content--img__active should be DRY*/
/* .content__active {
	display: block;
	width: 100%;
	visibility: visible;
	opacity: 1;
	height: 100%;
	transform: scale(1);
	transform: translateY(0%);
} */
.content--img__active {
	display: block;
	width: 100%;
	height: 100%;
	opacity: 1;
	transform: scale(1);
	transform-origin: center center;
}
.planet__animation {
	animation: float 3s linear infinite;
}
@keyframes float {
	0% {
		transform: translateY(-3px);
	}
	50% {
		transform: translateY(-9px);
	}
	100% {
		transform: translateY(-3px);
	}
}
/* have to fix this somehow with some sweet animation */
.is-active__menu {
	/* border-right: none; */
	border: none;
	border-right: 3px solid #fff;
}
.content__active {
	opacity: 1;
}

/* .nav-link.is-active .linkUnderline {
	display: block;
	content: ' ';
	background-color: #fff;;
	position: absolute;
	top: auto;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 4px;
} */
/* !============================================================ */
/* !============================================================ */
/* ============================================= */
/* ============================================= */
/* !============================================================ */
/* !============================================================ */
/* !-----=======MEDIA QUERIES=======------*/
@media screen and (min-width: 375px) {
	.nav-bar {
		padding: 0 1.5em;
	}
}
@media screen and (min-width: 500px) {
	.nav-bar {
		padding: 0 2em;
	}
	/* ============================================= */
	/** SECTION-HEADING */
	.subheading__home {
		font-size: 20px;
	}
 .heading__home {
  font-size: 6.5rem;
  margin: 0;
 }
	.heading__tech{
		font-size: 2rem;
	}
	/* ! IMAGES */
	/* destination */
	.section-img__destination{
		width: 16em;
		height: 16em;
	}

	.section-img__crew {
		height: 20em;
	}
	.section-img__crew .section-img{
		background-size: contain;
	}
	.section-img__tech {
		height: 16em;
	}
	.section-img__tech 	.section-img {
		background-size: cover;
	}
	/* !contents */
	.contents__destination {
		font-size: 17px;
		max-width: 355px;
	}
	.content-title__header {
		font-size: 4.5rem;
	}
	.content-description__tech{
		max-width: 400px;
	}
	.content__2 .content-description__tech{
		max-width: 417px;
	}
 /* ! btn */
	.contents-control__home {
		width: 8.5em;
		height: 8.5em;
	}
	.btn__explore {
		bottom: 2em;
	}
	.btn__planet {
		font-size: 16px;
	}
	.btn__planet + .btn__planet {
		margin-left: 2em;
	}
	.btn__circle {
		width: 55px;
		height: 55px;
		margin: 0em .8em;
		font-size: 1.2rem;
	}
}

@media screen and (min-width: 700px) {
	:root {
		--fs-H: 80px;
		--fs-nav: 14px;
	}
	.container__home {
		background-image: url(../assets/background-home-tablet.jpg);
		background-position: center;
	}
	.container__destination {
		background-image: url(../assets/background-destination-tablet.jpg);
	}
	.container__crew {
		background-image: url(../assets/background-crew-tablet.jpg);
	}
	.container__technology {
		background-image: url(../assets/background-technology-tablet.jpg);
	}
	.nav-bar {
		padding: 0em;
		display: grid;
		grid-template-columns: 0.8fr 1fr;
		height: 5.5em;
	}
	.logo {
		margin-left: 2em;
		align-self: center;
	}
	.hamburger {
		display: none;
	}
	.nav-list {
		position: static;
		display: flex;
		justify-content: space-evenly;
		align-items: flex-start;
		align-items: center;
		padding: 0 1em;
		width: initial;
		height: 100%;
	}
	.nav-item {
		padding-left: 0em;
	}
	.nav-item + .nav-item {
		margin-top: 0em;
		margin-left: 1em;
	}
	.nav-item:nth-child(1) {
		margin-top: 0em;
	}
	.nav-link {
		font-size: var(--fs-nav);
		letter-spacing: var(--letter-spacing-nav);
		padding: 1.8em 0.1em;
	}
	.nav-link_number {
		display: none;
	}
	/* !============================================================ */
	/* !============================================================ */
	/* ============================================= */
	/* ============================================= */
	/* !============================================================ */
	/* !============================================================ */
	/* !-----=======SECTION=======------*/
	.section {
		display: grid;
		grid-template-rows: repeat(3, auto);
		grid-template-columns: 1fr;
		padding: 0;
		align-items: start;
	}
	.section__tech{
		margin-bottom: 3em;
	}
	.subheading__others {
		grid-row: 1;
		grid-column: 1;
		font-size: 19px;
		margin: 3em 2em 1em;
		text-align: left;
	}
	.subheading__home {
		margin: 4em 0 0;
		text-align: center;
		font-size: 1.15rem;
	}
	.subheading__rank {
		font-size: 1.15rem;
	}
 .heading__home {
  font-size: 7.5rem;
  margin: 0;
  margin: 0em 0 0.01em;
 }
 .heading__crew {
  font-size: 2.2rem;
  margin: 0em 0 0.3em;
 }
 .heading__tech {
  font-size: 2.2rem;
  margin: 0.2em 0 0.5em;
 }
	.subheading__duration {
		font-size: 0.75rem;
	}
	.subheading__tech{
		font-size: 1rem;
	}
	.heading__duration {
		font-size: 1.5rem;
	}
	.section-contents__crew {
		grid-row: 2;
		grid-column: 1;
		display: flex;
		flex-direction: column-reverse;
	}
	/* ============================================= */
	/** CONTENTS */
	.contents__home {
		padding: 0em;
		margin: 0 auto;
	}
	.contents__destination {
		font-size: 17px;
		max-width: 535px;
		height: 20em;

	}
	.contents__crew {
		grid-row: 1;
		width: 100%;
		height: 10em;
		margin: 2em auto 0;
		align-self: center;
	}
	.contents__tech{
		height: 14em;
	}
 .content-description__home{
		font-size: 16px;
  max-width: 400px;
  margin: 0 auto;
 }
	.content-description__destination{
		font-size: 16px;
		max-width: 520px;

	}
	.content__0 .content-description__crew{
  max-width: 400px;
	}
 .content__1 .content-description__crew{
  max-width: 450px;
	}
	.content__2 .content-description__crew{
  max-width: 530px;
	}
	 .content__3 .content-description__crew{
  max-width: 462px;
	}
	.content-description__crew{
		font-size: 16px;
  margin: 0 auto;
 }
	.content-duration {
		display: flex;
		justify-content: space-evenly;
	}
	.content-description__tech{
		max-width: 413px;
		margin: 0 auto;
		padding: 0 .5em;
	}
	.content__1 .content-description__tech{
		max-width: 413px;
	}
	.content__2 .content-description__tech{
		max-width: 417.7px;
	}
	/* !============================================================ */
	/* !============================================================ */
	/* ============================================= */
	/* ============================================= */
	/* !============================================================ */
	/* !============================================================ */

	/* !-----=======IMAGES=======------*/
	.section-img__destination{
		width: 340px;
		height: 340px;
	}	
	.section-img__crew {
		grid-row: 3;
		grid-column: 1;
		margin-top: 0;
		height: 25em;
	}
	.section-img__crew__0 {
		top: 14px;
	}
	.section-img__tech {
		height: 22em;
	}
	/* !============================================================ */
	/* !============================================================ */
	/* ============================================= */
	/* ============================================= */
	/* !============================================================ */
	/* !============================================================ */

	/* !-----=======BUTTON=======------*/
	/* HOMEPAGE */
	.contents-control__home {
		width: 8.5em;
		height: 8.5em;
	}
	.btn__crew {
		grid-row: 2;
	}

	/* !============================================================ */
	/* !============================================================ */
	/* ============================================= */
	/* ============================================= */
	/* !============================================================ */
	/* !============================================================ */
	/*state classes */
	/* !have to fix this somehow with some sweet animation */
	.is-active__menu {
		border-right: none;
		border-bottom: 3px solid #fff;
	}
	.nav-link{
		position: relative;
	}
 .nav-link.is-active .linkUnderline {
		display: block;
		content: ' ';
		/* background-color: #e8e8e8; */
		background-color: #fff;;
		position: absolute;
		top: auto;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 4px;
		opacity: 0;
}
}

.is-subheading{
	opacity: 0;
}

@media (min-width: 992px) {
	:root {
		--fs-H: 80px;
		--line-height-H: 100px;
		--fs-nav: 14px;
	}
	.container__home {
		background-image: url(../assets/background-home-desktop.jpg);
	}
	.container__destination {
		background-image: url(../assets/background-destination-desktop.jpg);
	}
	.container__crew {
		background-image: url(../assets/background-crew-desktop.jpg);
	}
	.container__technology {
		background-image: url(../assets/background-technology-desktop.jpg);
	}
	.container {
		display: grid;
		grid-template-columns: 1.2fr 0.2fr 4fr 0.2fr 5.2fr 1.2fr;
		grid-template-rows: 18vh 82vh;
	}
	.nav-bar {
		grid-row: 1;
		grid-column: 1/-1;
		display: grid;
		grid-template-columns: 1.2fr 0.2fr 4fr 0.2fr 5.2fr 1.2fr;
		grid-row: auto;
		align-items: center;
		margin-top: 0.5em;
		height: 100%;
		padding: 0;
	}
	.logo {
		grid-column: 1;
		grid-row: 1;
		justify-self: center;
		width: 3em;
		height: 3em;
	}
	.logo img {
		width: inherit;
		height: inherit;
	}
	.line {
		grid-row: 1;
		grid-column: 3/5;
		display: block;
		width: 100%;
		height: 2px;
		background-color: rgba(255, 255, 255, 0.1);
		z-index: 99;
	}
	.overlay {
		display: block;
		grid-row: 1;
		grid-column: 4/-1;
		background-color: var(--nav-background);
		backdrop-filter: var(--nav-backdrop-filter);
		height: 60%;
	}
	.nav-list {
		grid-row: 1;
		grid-column: 5;
		background-color: transparent;
		backdrop-filter: none;
		justify-content: space-between;
		align-items: center;
		padding: 0;
		padding-left: 4em;
		align-self: center;
	}
	.nav-link_number {
		display: inline-block;
	}

	/* !============================================================ */
	/* !============================================================ */
	/* ============================================= */
	/* ============================================= */
	/* !============================================================ */
	/* !============================================================ */

	/* !-----=======SECTION=======------*/
	.section {
		grid-row: 2;
		grid-column: 3/-1;
		display: grid;
		grid-template-rows: 120px calc(82vh - 120px);
		grid-template-columns: repeat(2, 1fr);
		margin: 1em 0 0;
		text-align: left;
	}
	.section__home {
		grid-row: 2;
		grid-column: 3/6;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-start;
		padding-bottom: 7em;
	}
	.section__destination {
		grid-row: 2;
		grid-column: 3/6;
		display: grid;
		grid-template-rows: 40px calc(80vh - 40px);
		grid-template-columns: repeat(2, 1fr);
	}
	.section__crew {
		display: grid;
		grid-template-rows: 120px calc(82vh - 120px);
		grid-template-columns: 0.9fr 1.1fr;
		grid-template-columns: 1fr 1fr;
		overflow: hidden;
	}
	.section__tech {
		grid-row: 2;
		grid-column: 3/-1;
		display: grid;
		grid-template-rows: 50px calc(79vh - 100px) 50px;
		grid-template-columns: 1.2fr .8fr;
		grid-column-gap: 4em;
	}
	
	.subheading__home {
		margin: 0;
		text-align: left;
		font-size: clamp(1.2rem, 2vw, 1.6rem);
	}
	.subheading__title {
	font-size: clamp(1.2rem, 2vw, 1.5rem);
	}
	.subheading__rank{
		margin: 0 0 .2em;
		letter-spacing: 0px;
	}
	.heading__home{
	font-size: clamp(7rem, 11vw, 9rem);
	margin: .05em 0;
	}
	.heading__crew{
	font-size: clamp(2rem, 3.5vw, 3rem);
	margin: 0 0 0.3em;
	}
	/* !here */
	.heading__tech{
	font-size: clamp(2.5rem, 4vw, 3.3rem);
		margin: 0 0 0.55em;
	}

	.subheading__others {
		margin: 0;
		grid-row: 1;
		grid-column: 1;
	}
	.section-contents__home {
		padding: 0;
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	.content-description__home{
		max-width: clamp(330px, 32vw, 420px);
		margin: 0;
		font-size: clamp(15px, 1.5vw, 18px);
	}

	.section-contents__destination {
		grid-row: 2;
		grid-column: 2;
		justify-self: end;
		width: 353px;
	}
	.section-contents__crew {
		grid-row: 2;
		grid-column: 1;
		margin: 0;
		padding: 0;
		display: grid;
		grid-template-rows: 14em auto;
		grid-template-columns: 1fr;
		grid-gap: 4em;
	}
	.btn__crew{
		grid-row: 2;
	}
	.section-contents__technology{
		grid-row: 2;
		grid-column: 1;
		display: grid;
		grid-template-rows: auto;
		grid-template-columns: auto 1fr;
		grid-gap: 3.5em;
		justify-content: center;
		align-self: center;
	}
.btn__tech{
	width: 100%;
	height: 100%;
	grid-column: 1;
	grid-row: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}
.btn__circle{
		margin: 0;
		width: 65px; 
		height: 65px;
		font-size: 1.5rem;
	}
	/*  */
	.contents__home {
		padding: 0em;
		margin: 0;
	}
	.contents__destination {
		max-width: 353px;
		margin: 0;
		align-self: end;
		padding: 0;
	}
	.contents__crew {
		grid-row: 1;
		margin: 0;
		/* height: 12em; */
		height: 100%;
	}
	.content__1 .content-description__crew {
		max-width: 345px;
	}
	.content__2 .content-description__crew {
		max-width: 355px;
	}
	.content .content-description__crew {
			max-width: 350.5px;
		 margin: 0;
	}

	.content-description__tech{
		max-width: 355px;
		margin: 0;
		padding: 0;
		margin-top: 1em;
	}
	.content__2 .content-description__tech{
		max-width: 355px;
	}
	.contents__tech{
		height: 16em;
	}
	.content-title__name {
		font-size: 2.8rem;
	}
	.content__1 .content-title__name {
		font-size: 37px;
	}
	.content__3 .content-title__name {
		font-size: 37px;
	}
	/* !============================================================ */
	/* !============================================================ */
	/* ============================================= */
	/* ============================================= */
	/* !============================================================ */
	/* !============================================================ */

	/* !-----=======IMAGES=======------*/
	.section-img__destination {
		grid-row: 2;
		grid-column: 1;
		width: 20em;
		height: 20em;
		margin: 2.5em auto 0;
	}
	/* tech */
.section-img__tech__0 {
	background-image: url(../assets/desktop-launch-vehicle.svg);
}
.section-img__tech__1 {
	background-image: url(../assets/image-spaceport-landscape.jpg);
}
.section-img__tech__2 {
	background-image: url(../assets/desktop-space-capsule.svg);
}
	.section-img__crew {
		grid-column: 2;
		grid-row: 1/-1;
		height: 100%;
		align-self: end;
	}
	.section-img__tech {
		grid-column: 2;
		grid-row: 1/-1;
		grid-row: 2;
		height: 100%;
		margin: 0;
		align-self: center;
	}
	.section-img {
		height: 100%;
		background-size: cover;
		background-position: 60% 50%;
	}
	.section-img__tech .section-img{
		background-size: cover;
		background-position: center;
		top: 0px;
	}
	.section-img__crew .section-img{
		background-size: 100%;
		background-size: cover;
		background-size: 153%;
		
		top: 27px;
	}
	.section-img__crew .section-img__crew__0{
		background-position: -215px 0;
		top: 4px;
		background-size: cover;
	}
	.section-img__crew .section-img__crew__1{
		background-position: -215px 0;
		background-size: cover;
		top: 4px;
	}
	.section-img__crew__3 {
		background-position: center;
	}

	/* !============================================================ */
	/* !============================================================ */
	/* ============================================= */
	/* ============================================= */
	/* !============================================================ */
	/* !============================================================ */

	/* !-----=======BUTTON=======------*/
	/* HOMEPAGE */
	.contents-control__home {
		position: relative;
		/* border: 1px solid; */
		width: 12em;
		height: 12em;
		align-self: flex-end;
	}
	.btn__explore {
		position: absolute;
		bottom: 0em;
		right: 0;
		left: 0%;
		transform: translateX(0%);
		font-size: 1.8rem;
		letter-spacing: 3px;
	}
	.contents-btn-control {
		margin: 0;
	}
	/* destination */
	.btnDestination,
	.content-duration {
		justify-content: flex-start;
	}
	.content-duration__est-travel-time {
		margin-left: 4em;
	}
}
@media (min-width: 1200px) {
	.nav-list {
		padding-left: 5em;
	}
	.section-img__destination {
		width: 22em;
		height: 22em;
	}
	.section-img__crew {
		grid-column: 2;
		grid-row: 1/-1;
		align-self: end;
	}
	.section-img__crew .section-img{
		background-size: 100%;
		background-size: 153%;
		background-size: cover;
		
		top: 27px;
	}
	.heading__tech{
		font-size: clamp(2.5rem, 4vw, 3.3rem);
			margin: 0 0 0.5em;
		}
		.btn__circle{
			margin: 0;
			width: 72px; 
			height: 72px;
			font-size: 1.8rem;
		}
		.contents__tech{
			height: 16.5em;
		}
}


/* page transition */
ul.transition {
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	display: flex;
	z-index: 10;
	pointer-events: none;
}
ul.transition li {
	transform: scaleY(0);
	/* background-color: #0b0d17; */
	background-color: #fff;
	width: 20%;
}

/* .is-home { background: #1f213f; }
.is-page-2 { background: #1c323d; } */