:root {
	box-sizing: border-box;

	--ff: "Barlow Condensed", sans-serif;
	--ff-H: "Bellefair", serif;
	--ff-P: "Barlow", sans-serif;

	--fs: 1rem;
	--fs-nav: 0.875rem; /* 14px*/
	--fs-p: 1rem;
	--fs-H: 3.5em; /* 56px*/
	--fs-avg: 0.875rem; /* 14px*/
	--fs-dist: 1.75rem; /* 28px*/
	--fs-cta: 1.25rem; /* 20px*/

	--fw: 400;
	--fw-number: 700;

	--letter-spacing: 2.7px;
	--letter-spacing-nav: 2.36px;
	--letter-spacing-avg: 2.36px;
	--letter-spacing-cta: 1.25px;

	--color: #d0d6f9;
	--color-title: #fff;
	--color-cta: #0b0d17;

	/* ! nav list */
	--nav-background: rgba(255, 255, 255, 0.04);
	--nav-backdrop-filter: blur(81.5485px);

	--subHeading-number-color: #fff;
	--subHeading-number-opacity: 0.25;
	--subHeading-number-mix-blend-mode: normal;

	--border-line: #383b4b;
}
body {
	font-family: var(--ff-P);
	font-size: var(--fs);
	font-weight: var(--fw);
	color: var(--color);
	scroll-behavior: smooth;
	position: relative;
	background-color: var(--border-line);
}
*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	text-transform: uppercase;
}
button {
	background-color: transparent;
	border: none;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
}
img {
	max-width: 100%;
	height: auto;
}
ul {
	list-style: none;
}
.container {
	max-width: 1440px;
	margin: 0 auto;
	min-height: 100vh;
	overflow: hidden;
}
/* ============================================= */
/** SECTION-HEADINGS */
.heading {
	font-family: var(--ff-H);
	font-weight: var(--fw);
	text-transform: uppercase;
	color: var(--color-title);

	/* font-size: 24px;
	line-height: 28px;
	letter-spacing: 0px; */
	/* text-align: center; */
}
.subheading {
	font-family: var(--ff);
	font-weight: var(--fw);
	color: var(--color);
	font-size: 1rem;
	letter-spacing: 2px;
	line-height: var(--line-height);
	text-transform: uppercase;
}
@media (min-width: 700px) {
	h1.subheading {
		font-size: 20px;
		text-align: left;
		margin: 3em 2em 1em;
		grid-row: 1;
		grid-column: 1;
		line-height: 24px;
		letter-spacing: 3.375px;
	}
}
@media (min-width: 992px) {
	h1.subheading {
		font-size: 28px;
		grid-row: 1;
		grid-column: 2;
		justify-self: start;
		margin: 0;
		padding: 0;
	}
	.heading {
		margin-bottom: 0;
		font-size: clamp(40px, 4vw, 56px);
		line-height: 64.18px;
	}
}
.subheading__number {
	color: var(--subHeading-number-color);
	opacity: var(--subHeading-number-opacity);
	font-weight: var(--fw-number);
	mix-blend-mode: var(--subHeading-number-mix-blend-mode);
	margin-right: 0.6em;
}

/* move to individual views */

/* ============================================= */
/** CONTENTS */
/* general */
.contents {
	margin: 0.5em auto 1em;
	padding: 0em 1em;
	position: relative;
}

.content-description {
	line-height: 1.5;
}
.description {
	line-height: 1.5;
}

/* ============================================= */
/* ============================================= */

/* .fade_in-enter-from, .fade_in-leave-to {
	opacity: 0;
	transform: scale(.95);
}
.fade_in-enter-active, .fade_in-leave-active {
	transition: all .3s linear;
}
.slide_in-enter-from, .slide_in-leave-to {
	opacity: 0;
	transform: translateY(20px);
}
.slide_in-enter-active, .slide_in-leave-active {
	transition: all .3s linear;
} */
